In [155]:
import pandas as pd
import numpy as np
import os

In [156]:
path = r'C:\Users\esgib\Desktop\Alina\Course 4\Instacart Basket Analysis'

In [157]:
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'Departments.csv'))

In [158]:
df.head()

,department_id,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,department,frozen,other,bakery,produce,alcohol,international,beverages,pets,dry goods pasta,...,meat seafood,pantry,breakfast,canned goods,dairy eggs,household,babies,snacks,deli,missing

In [163]:
df = df.T

In [164]:
df.to_clipboard()

In [165]:
df = pd.read_clipboard()

In [172]:
df.dtypes

department_id     int64
department       object
dtype: object

In [173]:
df['department_id'] = df['department_id'].astype('int32')

In [174]:
df.to_pickle(os.path.join(path, '02 Data', 'Prepared data', 'Departments.pkl'))