In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\esgib\Desktop\Alina\Course 4\Instacart Basket Analysis'

In [4]:
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col = False)

In [5]:
df.describe()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [6]:
df.dtypes

order_id                    int64
user_id                     int64
eval_set                   object
order_number                int64
order_dow                   int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

In [7]:
df['order_id']=df['order_id'].astype('int32')
df['user_id'] = df['user_id'].astype('int32')
df['order_number']=df['order_number'].astype('int8')
df['order_dow']=df['order_dow'].astype('int8')
df['order_hour_of_day']=df['order_hour_of_day'].astype('int8')
df['days_since_prior_order']=df['days_since_prior_order'].astype('float16')

In [8]:
df.dtypes

order_id                    int32
user_id                     int32
eval_set                   object
order_number                 int8
order_dow                    int8
order_hour_of_day            int8
days_since_prior_order    float16
dtype: object

In [9]:
df = df.drop(columns = ['eval_set'])

In [10]:
df.columns

Index(['order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day',
       'days_since_prior_order'],
      dtype='object')

In [12]:
#checking for missing vaules in order_id column
df['order_id'].isna().sum()

0

In [13]:
print(df['user_id'].isnull().sum())
print(df['user_id'].isna().sum())

0
0

In [14]:
df['order_number'].isnull().sum()

0

In [15]:
df['order_dow'].isnull().sum()

0

In [16]:
df['order_hour_of_day'].isnull().sum()

0

In [17]:
print(df['days_since_prior_order'].isnull().sum())
print(df['days_since_prior_order'].isna().sum())

206209
206209

In [18]:
df.shape

(3421083, 6)

In [19]:
df.head(200)

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
...,...,...,...,...,...,...
195,674977,17,36,3,12,30.0
196,2831726,17,37,2,12,13.0
197,1385397,17,38,1,15,30.0
198,348137,17,39,5,16,11.0
199,3350883,17,40,4,11,27.0

In [20]:
df.shape

(3421083, 6)

In [24]:
#check for duplicates 
df_dup = df[df.duplicated()]

In [26]:
df_dup.head()

Empty DataFrame
Columns: [order_id, user_id, order_number, order_dow, order_hour_of_day, days_since_prior_order]
Index: []

Comment: No duplicates found

In [31]:
df_nan = df[df['days_since_prior_order'].isna()]

In [32]:
df_nan

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
11,2168274,2,1,2,11,NaN
26,1374495,3,1,1,14,NaN
39,3343014,4,1,6,11,NaN
45,2717275,5,1,3,12,NaN
...,...,...,...,...,...,...
3420930,969311,206205,1,4,12,NaN
3420934,3189322,206206,1,3,18,NaN
3421002,2166133,206207,1,6,19,NaN
3421019,2227043,206208,1,1,15,NaN
3421069,3154581,206209,1,3,11,NaN

In [33]:
df_nan['order_number'].value_counts()

1    206209
Name: order_number, dtype: int64

In [34]:
df.to_pickle(os.path.join(path, '02 Data', 'Prepared data', 'orders_cleaned.pkl'))