In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\esgib\Desktop\Alina\Course 4\Instacart Basket Analysis'

In [3]:
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products__prior.csv'), index_col = False)

In [4]:
df.shape

(32434489, 4)

In [5]:
df.columns

Index(['order_id', 'product_id', 'add_to_cart_order', 'reordered'], dtype='object')

In [6]:
df.head(10)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0
5         2       17794                  6          1
6         2       40141                  7          1
7         2        1819                  8          1
8         2       43668                  9          0
9         3       33754                  1          1

In [7]:
df.describe()

           order_id    product_id  add_to_cart_order     reordered
count  3.243449e+07  3.243449e+07       3.243449e+07  3.243449e+07
mean   1.710749e+06  2.557634e+04       8.351076e+00  5.896975e-01
std    9.873007e+05  1.409669e+04       7.126671e+00  4.918886e-01
min    2.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
25%    8.559430e+05  1.353000e+04       3.000000e+00  0.000000e+00
50%    1.711048e+06  2.525600e+04       6.000000e+00  1.000000e+00
75%    2.565514e+06  3.793500e+04       1.100000e+01  1.000000e+00
max    3.421083e+06  4.968800e+04       1.450000e+02  1.000000e+00

In [8]:
df['add_to_cart_order'].value_counts()

1      3214874
2      3058126
3      2871133
4      2664106
5      2442025
        ...
141          1
142          1
143          1
144          1
145          1
Name: add_to_cart_order, Length: 145, dtype: int64

In [9]:
df['reordered'].value_counts()

1    19126536
0    13307953
Name: reordered, dtype: int64

In [10]:
#checking for columns with mixes values
for col in df.columns.tolist(): 
    weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1) 
    if len (df[weird]) > 0: print (col)

In [11]:
df.dtypes

order_id             int64
product_id           int64
add_to_cart_order    int64
reordered            int64
dtype: object

In [12]:
df

          order_id  product_id  add_to_cart_order  reordered
0                2       33120                  1          1
1                2       28985                  2          1
2                2        9327                  3          0
3                2       45918                  4          1
4                2       30035                  5          0
...            ...         ...                ...        ...
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

[32434489 rows x 4 columns]

In [13]:
df['order_id']=df['order_id'].astype('int32')
df['product_id']=df['product_id'].astype('int32')
df['add_to_cart_order']=df['add_to_cart_order'].astype('int16')
df['reordered']=df['reordered'].astype('int8')

In [14]:
df.dtypes

order_id             int32
product_id           int32
add_to_cart_order    int16
reordered             int8
dtype: object

In [15]:
#checking 'order_id column' for missing values
print(df['order_id'].isnull().sum())
print(df['order_id'].isna().sum())

0
0

In [16]:
#checking 'produc_id' column for missing values
print(df['product_id'].isnull().sum())
print(df['product_id'].isna().sum())

0
0

In [17]:
#checking 'add_to_cart_order' column for missing values
print(df['add_to_cart_order'].isnull().sum())
print(df['add_to_cart_order'].isna().sum())

0
0

In [18]:
#checking 'reordered' column for missing values
print(df['reordered'].isna().sum())

0

Comment: no missing values identifies

In [19]:
df.shape

(32434489, 4)

In [20]:
#checking for duplicates
df_dup = df[df.duplicated()]

In [21]:
df_dup.head()

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

Comment: no duplicates found

In [22]:
df_ords = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared data', 'orders_cleaned.pkl'))

In [23]:
df_ords.columns

Index(['order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day',
       'days_since_prior_order'],
      dtype='object')

In [30]:
df_ords[df_ords['order_id']==1]

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
1868044,1,112108,4,4,10,9.0

In [31]:
df_ords.shape

(3421083, 6)

In [37]:
#merging order information with product informations
df_merged = df.merge(df_ords, on = 'order_id', how = 'left', indicator = True)

In [40]:
df_merged.shape

(32434489, 10)

In [41]:
df_merged.head(10)

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,_merge
0,2,33120,1,1,202279,3,5,9,8.0,both
1,2,28985,2,1,202279,3,5,9,8.0,both
2,2,9327,3,0,202279,3,5,9,8.0,both
3,2,45918,4,1,202279,3,5,9,8.0,both
4,2,30035,5,0,202279,3,5,9,8.0,both
5,2,17794,6,1,202279,3,5,9,8.0,both
6,2,40141,7,1,202279,3,5,9,8.0,both
7,2,1819,8,1,202279,3,5,9,8.0,both
8,2,43668,9,0,202279,3,5,9,8.0,both
9,3,33754,1,1,205970,16,5,17,12.0,both

In [42]:
#checking how the merge went
df_merged['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [44]:
# droping merge indicator
df_new = df_merged.drop(columns = ['_merge'])

In [28]:
df_new.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'Orders_products_combined.pkl'))

In [29]:
df_new.shape

(32434489, 9)